DATABASE_URL="postgresql://user:password@localhost:5432/talentflow?schema=public"
JWT_ACCESS_SECRET="super_secure_access_secret"
JWT_REFRESH_SECRET="super_secure_refresh_secret"
PORT=3001
CORS_ORIGIN="http://localhost:3000"
